.grid-container{
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px 150px;
}

.elementosAbajo{
  border-bottom: solid;
}

.elementosDerechaAbajo{
  border-right:  solid;
  border-bottom: solid;
}


.elementosDerecha{
  border-right:  solid;
}
