html { height: 100%; }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
  height: 610px;
  text-align: center;
  font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
  background-color: hsl(210,50%,20%);
	 background: url(bg.png), linear-gradient(90deg, #44429C, #605FB2, #8987CE);
	}

.txt[contenteditable] {
  outline: none;
}

/* Box ------------------------------------------------------ */

#box {
  padding: 50px;
  font-size: 5em;
  font-weight: bold;
}


/* txt ------------------------------------------------------ */

.txt {
  color: hsla(0,0%,0%,0);
  text-shadow: #fff 0 0 60px;
  transition: text-shadow 2s cubic-bezier(0, 1, 0, 1);
	}
	@-moz-document url-prefix() { .txt { text-shadow: #fff 0 0 20px; } } /* FF fix */

#box:hover .txt {
		text-shadow: #fff 0 0 5px;
		transition: text-shadow 1s cubic-bezier(0, 0.75, 0, 1);
}


/* ♥ ------------------------------------------------------ */

.corazon {
  margin: 0 10px;
  color: hsla(0,0%,0%,0);
  text-shadow: red 0 0 5px;
  transition: text-shadow 1s cubic-bezier(0, 1, 0, 1);
	}





  /*..........................CSS de la pagina....................................
#background{
  background-color: #336699; /* For browsers that do not support gradients
}*/
nav{
  display: flex;
  align-items: center;
  justify-content: center;
}
